<a href="https://colab.research.google.com/github/davidpalacio1/TP-1-LDD/blob/main/TP_2_LDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TP2 - Laboratorio de Datos
Verano 2026
Encuesta Permanente de Hogares de Argentina.

Universidad de Buenos Aires
Facultad de Ciencias Exactas y Naturales (FCEyN)

Integrantes: Lautaro Herrera - Nicolas Corral - David Palacio Velásquez
Fecha: 09 de marzo de 2026

In [4]:
import numpy as np
import pandas as pd

#Limpieza de datos.

Esta tabla contiene muchas variables, y la gran mayor´ıa de ellas son categ´oricas, por ejemplo REGION
(01 = Gran Buenos Aires, 40 = Noroeste, ...). La informaci´on de todas la variables puede verse en
el archivo EPH_registro_3T2025.pdf, en la secci´on “Dise˜no de registros de la base Personas” (que
es la base que estamos usando).
Armamos un dataset de trabajo dejando solo algunas filas y columnas. Los pasos que se proponen a
continuaci´on pueden seguirlos paso a paso o pueden hacer modificaciones si las consideran apropiadas,
por ejemplo utilizar algunas variables m´as o menos de las que proponemos.

##Ejercicio 1

Leer el archivo a un DataFrame (usar sep = ";" dado que el archivo tiene valores separados
por ;)

In [13]:
df = pd.read_csv("usu_individual_T325.txt", sep = ";")

/tmp/ipython-input-705/1016258245.py:1: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("usu_individual_T325.txt", sep = ";")

In [14]:
df

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
0,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,8,0,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
1,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,9,0,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
2,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,1,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
3,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,2,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
4,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,3,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44941,TQRMNOPXUHJOLQCDEHLEH00862602,2025,3,2,5,0,40,N,25,227,...,0,0,0,0,2.0,2.0,NaN,2.0,2.0,2.0
44942,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,1,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44943,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,2,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44944,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,3,0,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44945,TQRMNOPWTHLMKPCDEOJAH00886975,2025,3,1,1,1,44,N,93,161,...,0,0,0,0,6.0,4.0,NaN,6.0,6.0,3.0

In [15]:
df.shape

(44946, 235)

## Ejercicio 2

Eliminar a todos los individuos que no completaron la encuesta (columna H15).

In [18]:
df = df[df["H15"] == 1]

In [19]:
df

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
2,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,1,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
3,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,2,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
4,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,3,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
5,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,4,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
6,TQRMNOQSSHKLKRCDEIHJF00868831,2025,3,1,1,1,44,N,31,140,...,0,0,0,0,3.0,2.0,NaN,4.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44939,TQRMNOPXUHJOLQCDEHLEH00862602,2025,3,2,3,1,40,N,25,227,...,0,0,0,0,2.0,2.0,NaN,2.0,2.0,2.0
44940,TQRMNOPXUHJOLQCDEHLEH00862602,2025,3,2,4,1,40,N,25,227,...,0,0,0,0,2.0,2.0,NaN,2.0,2.0,2.0
44942,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,1,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44943,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,2,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44945,TQRMNOPWTHLMKPCDEOJAH00886975,2025,3,1,1,1,44,N,93,161,...,0,0,0,0,6.0,4.0,NaN,6.0,6.0,3.0

In [20]:
df.shape

(39999, 235)

In [21]:
# Pasó de (44946, 235) a (39999, 235)

##Ejercicio 3

Seleccionar las siguientes columnas: ”REGION”, ”MAS 500”, ”CH04”, ”CH03”, ”CH06”, ”CH07”,
”CH09”, ”CH10”, ”NIVEL ED”, ”ESTADO”, ”CAT OCUP”, ”CAT INAC”, ”SECTOR”, ”PP02B”,
”PP02C1”, ”PP02C2”, ”PP02C3”, ”PP02C4”, ”PP02C5”, ”PP02C6”, ”PP02C7”, ”PP02C8”,
”PP02D”, ”PP02D”, ”PP02F”, ”PP02G”, ”PP02H”, ”PP02I”, ”PP03C”, ”PP03D”, ”PP3E TOT”,
”PP3F TOT”, ”PP03G”, ”PP03H”, ”PP04A”, ”PP04A1”, ”PP04A1”, ”PP04B1”, ”PP04B2”,
”PP04B3 ANO”, ”PP04C”, ”PP03I”, ”PP03J”, ”PP03K”, ”INTENSI”, ”PP04G”, ”P47T”

In [31]:
columnas = [
    "REGION", "MAS_500", "CH04", "CH03", "CH06", "CH07",
"CH09", "CH10", "NIVEL_ED", "ESTADO", "CAT_OCUP", "CAT_INAC", "SECTOR", "PP02B",
"PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8",
"PP02D", "PP02D", "PP02F", "PP02G", "PP02H", "PP02I", "PP03C", "PP03D", "PP3E_TOT",
"PP3F_TOT", "PP03G", "PP03H", "PP04A", "PP04A1", "PP04A1", "PP04B1", "PP04B2",
"PP04B3_ANO", "PP04C", "PP03I", "PP03J", "PP03K", "INTENSI", "PP04G", "P47T"
]

In [34]:
df = df[columnas]
df

,REGION,MAS_500,CH04,CH03,CH06,CH07,CH09,CH10,NIVEL_ED,ESTADO,...,PP04B1,PP04B2,PP04B3_ANO,PP04C,PP03I,PP03J,PP03K,INTENSI,PP04G,P47T
2,42,S,2,1,38,1,1,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,552000.0
3,42,S,1,2,39,1,1,2,4,1,...,2.0,0.0,0.0,1.0,2.0,2.0,0.0,2.0,8.0,400000.0
4,42,S,1,3,18,5,1,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,42,S,1,3,17,5,1,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,44,N,1,1,50,2,1,2,3,1,...,2.0,0.0,0.0,10.0,2.0,2.0,0.0,2.0,11.0,1200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44939,40,N,1,3,13,5,1,1,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
44940,40,N,2,3,12,5,1,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
44942,40,N,1,1,46,1,1,2,6,1,...,2.0,0.0,0.0,8.0,2.0,2.0,0.0,2.0,11.0,1370000.0
44943,40,N,2,2,38,1,1,2,6,1,...,2.0,0.0,0.0,3.0,1.0,1.0,2.0,1.0,11.0,700000.0
44945,44,N,1,1,37,2,1,2,4,1,...,2.0,0.0,0.0,7.0,2.0,2.0,0.0,3.0,11.0,1900000.0

##Ejercicio 4

Muchas de estas columnas contienen datos faltantes, en general por preguntas que no co-
rresponden. Por ejemplo, preguntas sobre ocupaci´on a personas desocupadas. Para las si-
guientes columnas, reemplazar los datos faltantes por 0: ”EMPLEO”, ”PP03C”, ”PP03D”,
”PP3E TOT”, ”PP3F TOT”, ”PP03G”, ”PP03H”, ”PP03I”, ”PP03J”, ”PP03K”, ”PP04B1”,
”PP04B2”, ”PP04B3 ANO”, ”PP04C”, ”PP04A”, ”PP04A1”, ”PP04G”, ”INTENSI” (la ma-
yor´ıa son variables categ´oricas que van a ser reemplazadas por dummies para las distintas
categor´ıas).

In [40]:
columnas_a_reemplazar = [
    "EMPLEO",
    "PP03C", "PP03D",
"PP3E_TOT",
    "PP03G", "PP03H", "PP03I", "PP03J", "PP03K", "PP04B1",
"PP04B2", "PP04B3_ANO", "PP04C", "PP04A", "PP04A1", "PP04G", "INTENSI" ]

In [41]:
# df[columnas_a_reemplazar] = df[columnas_a_reemplazar].fillna(0)

##Ejercicio 5

Eliminar las filas que no tienen valor en la columna de ingreso total (”P47T”).

##Ejercicio 6

6. Eliminar filas con datos faltantes.