<a href="https://colab.research.google.com/github/davidpalacio1/TP-1-LDD/blob/main/TP_2_LDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TP2 - Laboratorio de Datos
Verano 2026
Encuesta Permanente de Hogares de Argentina.

Universidad de Buenos Aires
Facultad de Ciencias Exactas y Naturales (FCEyN)

Integrantes: Lautaro Herrera - Nicolas Corral - David Palacio Velásquez
Fecha: 09 de marzo de 2026

In [130]:
import numpy as np
import pandas as pd

#Limpieza de datos.

Esta tabla contiene muchas variables, y la gran mayor´ıa de ellas son categ´oricas, por ejemplo REGION
(01 = Gran Buenos Aires, 40 = Noroeste, ...). La informaci´on de todas la variables puede verse en
el archivo EPH_registro_3T2025.pdf, en la secci´on “Dise˜no de registros de la base Personas” (que
es la base que estamos usando).
Armamos un dataset de trabajo dejando solo algunas filas y columnas. Los pasos que se proponen a
continuaci´on pueden seguirlos paso a paso o pueden hacer modificaciones si las consideran apropiadas,
por ejemplo utilizar algunas variables m´as o menos de las que proponemos.

##Ejercicio 1

Leer el archivo a un DataFrame (usar sep = ";" dado que el archivo tiene valores separados
por ;)

In [131]:
df = pd.read_csv("usu_individual_T325.txt", sep = ";")

/tmp/ipython-input-159/1016258245.py:1: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("usu_individual_T325.txt", sep = ";")

In [132]:
df.columns

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF',
       'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF'],
      dtype='object', length=235)

In [133]:
df

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
0,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,8,0,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
1,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,9,0,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
2,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,1,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
3,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,2,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
4,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,3,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44941,TQRMNOPXUHJOLQCDEHLEH00862602,2025,3,2,5,0,40,N,25,227,...,0,0,0,0,2.0,2.0,NaN,2.0,2.0,2.0
44942,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,1,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44943,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,2,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44944,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,3,0,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44945,TQRMNOPWTHLMKPCDEOJAH00886975,2025,3,1,1,1,44,N,93,161,...,0,0,0,0,6.0,4.0,NaN,6.0,6.0,3.0

In [134]:
df.shape

(44946, 235)

In [135]:
list(df.columns)

['CODUSU',
 'ANO4',
 'TRIMESTRE',
 'NRO_HOGAR',
 'COMPONENTE',
 'H15',
 'REGION',
 'MAS_500',
 'AGLOMERADO',
 'PONDERA',
 'CH03',
 'CH04',
 'CH05',
 'CH06',
 'CH07',
 'CH08',
 'CH09',
 'CH10',
 'CH11',
 'CH12',
 'CH13',
 'CH14',
 'CH15',
 'CH15_COD',
 'CH16',
 'CH16_COD',
 'NIVEL_ED',
 'ESTADO',
 'CAT_OCUP',
 'CAT_INAC',
 'IMPUTA',
 'PP02C1',
 'PP02C2',
 'PP02C3',
 'PP02C4',
 'PP02C5',
 'PP02C6',
 'PP02C7',
 'PP02C8',
 'PP02E',
 'PP02H',
 'PP02I',
 'PP03C',
 'PP03D',
 'PP3E_TOT',
 'PP3F_TOT',
 'PP03G',
 'PP03H',
 'PP03I',
 'PP03J',
 'INTENSI',
 'PP04A',
 'PP04B_COD',
 'PP04B1',
 'PP04B2',
 'PP04B3_MES',
 'PP04B3_ANO',
 'PP04B3_DIA',
 'PP04C',
 'PP04C99',
 'PP04D_COD',
 'PP04G',
 'PP05B2_MES',
 'PP05B2_ANO',
 'PP05B2_DIA',
 'PP05C_1',
 'PP05C_2',
 'PP05C_3',
 'PP05E',
 'PP05F',
 'PP05H',
 'PP06A',
 'PP06C',
 'PP06D',
 'PP06E',
 'PP06H',
 'PP07A',
 'PP07C',
 'PP07D',
 'PP07E',
 'PP07F1',
 'PP07F2',
 'PP07F3',
 'PP07F4',
 'PP07F5',
 'PP07G1',
 'PP07G2',
 'PP07G3',
 'PP07G4',
 'PP07G_59',
 'PP07H',
 'PP07I',
 'PP07J',
 'PP07K',
 'PP08D1',
 'PP08D4',
 'PP08F1',
 'PP08F2',
 'PP08J1',
 'PP08J2',
 'PP08J3',
 'PP09A',
 'PP09A_ESP',
 'PP09B',
 'PP09C',
 'PP09C_ESP',
 'PP10A',
 'PP10C',
 'PP10D',
 'PP10E',
 'PP11A',
 'PP11B_COD',
 'PP11B1',
 'PP11B2_MES',
 'PP11B2_ANO',
 'PP11B2_DIA',
 'PP11C',
 'PP11C99',
 'PP11D_COD',
 'PP11G_ANO',
 'PP11G_MES',
 'PP11G_DIA',
 'PP11L',
 'PP11L1',
 'PP11M',
 'PP11N',
 'PP11O',
 'PP11P',
 'PP11Q',
 'PP11R',
 'PP11S',
 'PP11T',
 'P21',
 'DECOCUR',
 'IDECOCUR',
 'RDECOCUR',
 'GDECOCUR',
 'PDECOCUR',
 'ADECOCUR',
 'PONDIIO',
 'TOT_P12',
 'P47T',
 'DECINDR',
 'IDECINDR',
 'RDECINDR',
 'GDECINDR',
 'PDECINDR',
 'ADECINDR',
 'PONDII',
 'V3_M',
 'V4_M',
 'V8_M',
 'V9_M',
 'V10_M',
 'V12_M',
 'V18_M',
 'V19_AM',
 'T_VI',
 'ITF',
 'DECIFR',
 'IDECIFR',
 'RDECIFR',
 'GDECIFR',
 'PDECIFR',
 'ADECIFR',
 'IPCF',
 'DECCFR',
 'IDECCFR',
 'RDECCFR',
 'GDECCFR',
 'PDECCFR',
 'ADECCFR',
 'PONDIH',
 'V2_02_M',
 'V2_03_M',
 'V5_03_M',
 'V11_02_M',
 'PP07B1_01',
 'EMPLEO',
 'SECTOR',
 'PP02A',
 'PP02B',
 'PP02D',
 'PP02F',
 'PP02G',
 'PP03K',
 'PP04A1',
 'PP05B3',
 'PP05I',
 'PP05J',
 'PP05K',
 'PP06E1',
 'PP06K',
 'PP06K_SEM',
 'PP06K_MES',
 'PP06L',
 'PP07F1_1',
 'PP07F1_2',
 'PP07F1_3',
 'PP07I2',
 'PP07I3',
 'PP07I4',
 'PP07L',
 'PP07M',
 'PP08G',
 'PP08G_DSEM',
 'PP08G_DMES',
 'PP08H',
 'PP10B1',
 'PP10B2',
 'PP10B3',
 'PP10B4',
 'PP10B5',
 'PP10B6',
 'PP10B7',
 'PP10B8',
 'PP10B9',
 'PP10B10',
 'PP11L2',
 'V2_01_M',
 'V5_01_M',
 'V5_02_M',
 'V11_01_M',
 'V21_01_M',
 'V21_02_M',
 'V21_03_M',
 'V22_01_M',
 'V22_02_M',
 'V22_03_M',
 'P_DECCF',
 'P_RDECCF',
 'P_GDECCF',
 'P_PDECCF',
 'P_IDECCF',
 'P_ADECCF']

## Ejercicio 2

Eliminar a todos los individuos que no completaron la encuesta (columna H15).

In [136]:
df = df[df["H15"] == 1]

In [137]:
df

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
2,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,1,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
3,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,2,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
4,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,3,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
5,TQRMNOTYPHKOKQCDEHNHB00867020,2025,3,1,4,1,42,S,27,528,...,0,0,0,0,1.0,1.0,1.0,NaN,1.0,1.0
6,TQRMNOQSSHKLKRCDEIHJF00868831,2025,3,1,1,1,44,N,31,140,...,0,0,0,0,3.0,2.0,NaN,4.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44939,TQRMNOPXUHJOLQCDEHLEH00862602,2025,3,2,3,1,40,N,25,227,...,0,0,0,0,2.0,2.0,NaN,2.0,2.0,2.0
44940,TQRMNOPXUHJOLQCDEHLEH00862602,2025,3,2,4,1,40,N,25,227,...,0,0,0,0,2.0,2.0,NaN,2.0,2.0,2.0
44942,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,1,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44943,TQRMNOQPQHMKLQCDEHLEH00891262,2025,3,1,2,1,40,N,25,336,...,0,0,0,0,7.0,9.0,NaN,8.0,8.0,10.0
44945,TQRMNOPWTHLMKPCDEOJAH00886975,2025,3,1,1,1,44,N,93,161,...,0,0,0,0,6.0,4.0,NaN,6.0,6.0,3.0

In [138]:
df.shape

(39999, 235)

In [139]:
# Pasó de (44946, 235) a (39999, 235)

##Ejercicio 3

Seleccionar las siguientes columnas: ”REGION”, ”MAS 500”, ”CH04”, ”CH03”, ”CH06”, ”CH07”,
”CH09”, ”CH10”, ”NIVEL ED”, ”ESTADO”, ”CAT OCUP”, ”CAT INAC”, ”SECTOR”, ”PP02B”,
”PP02C1”, ”PP02C2”, ”PP02C3”, ”PP02C4”, ”PP02C5”, ”PP02C6”, ”PP02C7”, ”PP02C8”,
”PP02D”, ”PP02D”, ”PP02F”, ”PP02G”, ”PP02H”, ”PP02I”, ”PP03C”, ”PP03D”, ”PP3E TOT”,
”PP3F TOT”, ”PP03G”, ”PP03H”, ”PP04A”, ”PP04A1”, ”PP04A1”, ”PP04B1”, ”PP04B2”,
”PP04B3 ANO”, ”PP04C”, ”PP03I”, ”PP03J”, ”PP03K”, ”INTENSI”, ”PP04G”, ”P47T”

In [140]:
df.columns[df.columns.duplicated()]

Index([], dtype='object')

In [141]:
columnas_CORREGIBLE = [
    "REGION", "MAS_500", "CH04", "CH03", "CH06", "CH07",
"CH09", "CH10", "NIVEL_ED", "ESTADO", "CAT_OCUP", "CAT_INAC", "SECTOR", "PP02B",
"PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8",
"PP02D", "PP02D", "PP02F", "PP02G", "PP02H", "PP02I", "PP03C", "PP03D", "PP3E_TOT",
"PP3F_TOT", "PP03G", "PP03H", "PP04A", "PP04A1", "PP04A1", "PP04B1", "PP04B2",
"PP04B3_ANO", "PP04C", "PP03I", "PP03J", "PP03K", "INTENSI", "PP04G", "P47T"
]

In [142]:
# Más adelante, en el Ejercicio 4, obtengo un error al usar esta lista. Al revisar, vi que hay valores repetidos.
# Para verificar:

print("La cantidad de elementos en columnas_CORREGIBLE es:" , len(columnas_CORREGIBLE))
print("La cantidad de elementos en columnas_CORREGIBLE sin contar repetidos es:" , len(set(columnas_CORREGIBLE))) # set() elimina los elementos repetidos. Así, len(columnas_CORREGIBLE) dice el tamaño sin repetidos.


print("¿Hay columnas repetidas? :" , len(columnas_CORREGIBLE) != len(set(columnas_CORREGIBLE)))

La cantidad de elementos en columnas_CORREGIBLE es: 47
La cantidad de elementos en columnas_CORREGIBLE sin contar repetidos es: 45
¿Hay columnas repetidas? : True

In [143]:
# Entonces, saco los valores repetidos. Para esto no me sirve set() pues, aunque saca los repetidos, no mantiene el orden:

columnas = list(dict.fromkeys(columnas_CORREGIBLE))

In [144]:
columnas

['REGION',
 'MAS_500',
 'CH04',
 'CH03',
 'CH06',
 'CH07',
 'CH09',
 'CH10',
 'NIVEL_ED',
 'ESTADO',
 'CAT_OCUP',
 'CAT_INAC',
 'SECTOR',
 'PP02B',
 'PP02C1',
 'PP02C2',
 'PP02C3',
 'PP02C4',
 'PP02C5',
 'PP02C6',
 'PP02C7',
 'PP02C8',
 'PP02D',
 'PP02F',
 'PP02G',
 'PP02H',
 'PP02I',
 'PP03C',
 'PP03D',
 'PP3E_TOT',
 'PP3F_TOT',
 'PP03G',
 'PP03H',
 'PP04A',
 'PP04A1',
 'PP04B1',
 'PP04B2',
 'PP04B3_ANO',
 'PP04C',
 'PP03I',
 'PP03J',
 'PP03K',
 'INTENSI',
 'PP04G',
 'P47T']

In [145]:
# Si tengo un montón de palabras de la forma ”REGION”, con ” ” en vez de " ", ¿Que código puedo usar para que todos los ” se reemplazen automáticamente por "?

In [146]:
df = df[columnas]
df

,REGION,MAS_500,CH04,CH03,CH06,CH07,CH09,CH10,NIVEL_ED,ESTADO,...,PP04B1,PP04B2,PP04B3_ANO,PP04C,PP03I,PP03J,PP03K,INTENSI,PP04G,P47T
2,42,S,2,1,38,1,1,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,552000.0
3,42,S,1,2,39,1,1,2,4,1,...,2.0,0.0,0.0,1.0,2.0,2.0,0.0,2.0,8.0,400000.0
4,42,S,1,3,18,5,1,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,42,S,1,3,17,5,1,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,44,N,1,1,50,2,1,2,3,1,...,2.0,0.0,0.0,10.0,2.0,2.0,0.0,2.0,11.0,1200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44939,40,N,1,3,13,5,1,1,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
44940,40,N,2,3,12,5,1,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
44942,40,N,1,1,46,1,1,2,6,1,...,2.0,0.0,0.0,8.0,2.0,2.0,0.0,2.0,11.0,1370000.0
44943,40,N,2,2,38,1,1,2,6,1,...,2.0,0.0,0.0,3.0,1.0,1.0,2.0,1.0,11.0,700000.0
44945,44,N,1,1,37,2,1,2,4,1,...,2.0,0.0,0.0,7.0,2.0,2.0,0.0,3.0,11.0,1900000.0

##Ejercicio 4

Muchas de estas columnas contienen datos faltantes, en general por preguntas que no co-
rresponden. Por ejemplo, preguntas sobre ocupaci´on a personas desocupadas. Para las si-
guientes columnas, reemplazar los datos faltantes por 0: ”EMPLEO”, ”PP03C”, ”PP03D”,
”PP3E TOT”, ”PP3F TOT”, ”PP03G”, ”PP03H”, ”PP03I”, ”PP03J”, ”PP03K”, ”PP04B1”,
”PP04B2”, ”PP04B3 ANO”, ”PP04C”, ”PP04A”, ”PP04A1”, ”PP04G”, ”INTENSI” (la ma-
yor´ıa son variables categ´oricas que van a ser reemplazadas por dummies para las distintas
categor´ıas).

In [147]:
columnas_a_reemplazar = [
    "EMPLEO",
    "PP03C", "PP03D","PP3E_TOT","PP03G", "PP03H", "PP03I", "PP03J", "PP03K", "PP04B1","PP04B2", "PP04B3_ANO", "PP04C", "PP04A", "PP04A1", "PP04G", "INTENSI" ]

In [148]:
df[columnas_a_reemplazar] = df[columnas_a_reemplazar].fillna(0)

KeyError: "['EMPLEO'] not in index"

In [149]:
# No corre porque "EMPLEO" no está entre las columas seleccionadas en el Ejercicio 3. Dos opciones:
        # 1. Agregar "EMPLEO" a las columnas seleccionadas en 3.
        # 2. No tener en cuenta a "EMPLEO" para las columnas seleccionadas y sacarlo de las columnas a reemplazar.

In [150]:
# Opción 1. Agregando "EMPLEO" a las columnas seleccionadas:

df = pd.read_csv("usu_individual_T325.txt", sep = ";")
df = df[df["H15"] == 1] # Hasta acá, lo hecho hasta 2.

# Agrego a "EMPLEO":

columnas = [
    "EMPLEO",
  'REGION', 'MAS_500', 'CH04', 'CH03', 'CH06', 'CH07', 'CH09', 'CH10', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'SECTOR', 'PP02B', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02D', 'PP02F', 'PP02G', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP04A', 'PP04A1', 'PP04B1', 'PP04B2', 'PP04B3_ANO', 'PP04C', 'PP03I','PP03J','PP03K','INTENSI','PP04G','P47T']

df = df[columnas]

/tmp/ipython-input-159/179230549.py:3: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("usu_individual_T325.txt", sep = ";")

In [151]:
# Las columnas donde voy a reemplazar:

columnas_a_reemplazar = [
    "EMPLEO",
    "PP03C", "PP03D","PP3E_TOT","PP03G", "PP03H", "PP03I", "PP03J", "PP03K", "PP04B1","PP04B2", "PP04B3_ANO", "PP04C", "PP04A", "PP04A1", "PP04G", "INTENSI" ]

In [152]:
# Reemplazo los NA con 0:

df[columnas_a_reemplazar] = df[columnas_a_reemplazar].fillna(0)

In [153]:
# Opción 2. No teniendo en cuenta a "EMPLEO" para las columnas seleccionadas y sacandolo de las columnas a reemplazar:

# df = pd.read_csv("usu_individual_T325.txt", sep = ";")
# df = df[df["H15"] == 1] # Hasta acá, lo hecho hasta 2.

# columnas sin "EMPLEO":

# columnas = ['REGION', 'MAS_500', 'CH04', 'CH03', 'CH06', 'CH07', 'CH09', 'CH10', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'SECTOR', 'PP02B', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02D', 'PP02F', 'PP02G', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP04A', 'PP04A1', 'PP04B1', 'PP04B2', 'PP04B3_ANO', 'PP04C', 'PP03I','PP03J','PP03K','INTENSI','PP04G','P47T']

# df = df[columnas]

# Las columnas donde voy a reemplazar, sin "EMPLEO":

# columnas_a_reemplazar = ["PP03C", "PP03D","PP3E_TOT","PP03G", "PP03H", "PP03I", "PP03J", "PP03K", "PP04B1","PP04B2", "PP04B3_ANO", "PP04C", "PP04A", "PP04A1", "PP04G", "INTENSI" ]

# Reemplazo los NA con 0:

# df[columnas_a_reemplazar] = df[columnas_a_reemplazar].fillna(0)

In [154]:
# Avanzo usando la versión de Opción 1. Intercambiable por la 2, la dejo marcada con #.

##Ejercicio 5

Eliminar las filas que no tienen valor en la columna de ingreso total (”P47T”).

##Ejercicio 6

6. Eliminar filas con datos faltantes.

##Ejercicio 7

Convertir las siguientes variables categ´oricas a dummies: ”ESTADO”, ”REGION”, ”MAS 500”,
”CAT OCUP”, ”CAT INAC”, ”SECTOR”, ”PP02B”, ”PP02C1”, ”PP02C2”, ”PP02C3”, ”PP02C4”,
”PP02C5”, ”PP02C6”, ”PP02C7”, ”PP02C8”, ”PP02D”, ”PP02D”, ”PP02F”, ”PP02G”, ”PP02H”,
”PP02I”, ”PP03C”, ”PP03D”, ”PP3E TOT”, ”PP3F TOT”, ”PP03G”, ”PP03H”, ”PP03I”,
”PP03J”, ”PP03K”, ”INTENSI”, ”PP04A”, ”PP04A1”, ”PP04A1”, ”PP04G”. Pueden usar
Formulaic o pd.get_dummies.
Nota: La variable SECTOR tambi´en es categ´orica pero vamos a utilizarla para clasificaci´on
por eso no la convertimos a dummies

# Clustering

# Clasificaciòn

# Regresión

Queremos ahora predecir el sueldo de las personas ocupadas.

##Ejercicio 18

Generar un DataFrame df_regresion que contenga solo las personas ocupadas, con ingreso
total positivo (variable P47T).

##Ejercicio 19

Reemplazar la variable P47T por su logaritmo

##Ejercicio 20

Proponer tres modelos distintos para ajustar la variable P47T transformada (pueden incluir
distintas variables, regresi´on ordinaria, Ridge, redes neuronales, ...).
3

##Ejercicio 21

Al menos uno de los modelos propuestos debe depender de hiperpar´ametros. Seleccionar los
hiperpar´ametros por alguna metodolog´ıa apropiada.

##Ejercicio 22

Seleccionar el mejor de los 3 modelos mediante un esquema de validaci´on apropiado, e indicar
el RSME en un conjunto de datos de testeo no utilizado previamente.

##Ejercicio 23

Seleccionar tres variables que consideren interesantes para evaluar la influencia de las mismas
en el salario de una persona. Realizar alg´un experimento simple para ver la influencia seg´un el
modelo seleccionado en el ´ıtem anterior.

Nota: En modelos lineales podr´ıa simplemente observarse el coeficiente correspondiente. En
otros modelos no se puede hacer este an´alisis pero podemos analizar por ejemplo que sucede
cuando modificamos una variable. Por ejemplo, si queremos analizar el efecto del Sexo, podemos
comparar el salario promedio cuando reemplazamos en todas nuestras observaciones el sexo por
varon y el salario promedio reemplazando el sexo por mujer.